// Team section styles

.team-section {
  padding: 5rem 0;
  background-color: #fdf4e6;

    h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: $primary-color;
  }

  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;

    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      margin-bottom: 1rem;
      object-fit: cover;
    }

    h5 {
      font-size: 1.5rem;
      margin: 0.5rem 0;
      color: $secondary-color;
    }

    p {
      font-size: 1rem;
      color: $dark-color;
    }
  }
}